worker_processes auto;
pid /tmp/nginx.pid;
events {}

http {
    include /etc/nginx/mime.types;
    default_type text/plain;
    client_max_body_size ${LANGFLOW_MAX_FILE_SIZE_UPLOAD}M;
    
    gzip on;
    gzip_comp_level 2;
    gzip_min_length 1000;
    gzip_types text/xml text/css;
    gzip_http_version 1.1;
    gzip_vary on;
    gzip_disable "MSIE [4-6] \.";

    client_max_body_size 1000M;  # 关键指令
    client_body_buffer_size 1000M;  # 可选，优化内存使用

    types {
        text/html html;
        text/css css;
        application/javascript js;
    }

    server {
        listen ${FRONTEND_PORT};

        location / {
            root /usr/share/nginx/html;
            index index.html index.htm;
            try_files $uri $uri/ /index.html =404;
            expires 1d;
            add_header Cache-Control "public";
        }
        location = /index.html {
            root /usr/share/nginx/html;
            add_header Cache-Control "no-cache, no-store, must-revalidate";
            etag on;
        }

        location /api {
            gzip off;

            proxy_read_timeout 3600s;           # 读取超时 1 小时
            proxy_send_timeout 3600s;           # 发送超时 1 小时
            proxy_connect_timeout 1800s;        # 连接超时 30 分钟
            
            proxy_http_version 1.1;             # 支持 chunked encoding
            proxy_set_header Connection "";     # 保持长连接
            chunked_transfer_encoding on;       # 启用分块传输
            
            proxy_socket_keepalive on;          # 启用 TCP keepalive

            proxy_buffering off;                    # 禁用缓冲，立即传输数据
            proxy_request_buffering off;            # 禁用请求缓冲
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;

            proxy_set_header X-Accel-Buffering no;  # 完全禁用加速缓冲
            proxy_set_header Cache-Control "no-cache, no-store, must-revalidate";
            proxy_pass ${BACKEND_URL};
        }
        location /health_check {
            proxy_pass ${BACKEND_URL};
        }
        location /health {
            proxy_pass ${BACKEND_URL};
        }
        location ^~ /data-api {
            proxy_pass ${DATA_API_URL};
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            rewrite ^/data-api/(.*)$ /$1 break;
        }

        include /etc/nginx/extra-conf.d/*.conf;
    }
}